<% switch (error) {
case 'technical-issues' : %>
<p>
    У Карткі Беларуса зараз назіраюцца тэхнічныя цяжкасці, таму вы не змаглі паспяхова верыфікавацца.
    Можаце заварыць гарбаткі і паспрабаваць трошкі пазней.
</p>
<% break;

case 'login.invalid-kartka' : %>
<p>
    Токен які вы прадаставілі для верыфікацыі пашкоджаны або не сапраўдны. Калі гэта памылка паўтараецца, то
    паспрабуйце атрымаць сваю картку наноў.
</p>
<% break;

case 'login.can-not-decrypt-kartka' : %>
<p>
    Ваш токен было немагчыма разшыфраваць, таму не атрымалася завершыць вашую верыфікацыю.
    Хутчэй за ўсё вы ўвялі памылковы пароль.
</p>
<% break;

case 'login.rejection' : %>
<p>Вы адмовіліся перадаць ваш токен і пароль для разшыфравання, таму вашая спроба верыфікацыі была скасавана.</p>
<% break;

case 'consent.invalid-scopes' : %>
<p>
    Вы паспяхова верыфікавалісь, але адбылася нейкая памылка калі мы запыталі вашыя дадзеныя ў Карткі,
    хутчэй за ўсё гэта праблема на нашым баку. Вы можаце зачакаць пакуль мы выправім памылку, або звязацца з намі.
    <a target="_blank" href="https://t.me/kartka_feedback_bot">@kartka_feedback_bot</a>.
</p>

<% break;

case 'consent.rejection' : %>
<p>Вы паспяхова верыфікавалісь, але адмовілісь перадаваць нам вашыя персанальныя звесткі,
    таму вашая спроба верыфікаціі была скасавана.</p>
<% break;

default : %>
<p>Нажаль адбылася нечаканая памылка, таму вашая спроба верыфікаціі была скасавана. Але вы можаце паспрабаваць яшчэ раз,
    або звязацца з намі. <a target="_blank" href="https://t.me/kartka_feedback_bot">@kartka_feedback_bot</a>.
</p>
<% break;
} %>