<section class="card intro" aria-labelledby="intro-title">
    <h1 id="intro-title" class="title">Мая Картка</h1>
    <p class="note">Дзякуй за давер, <strong class="highlight"><%= name %></strong>!</p>
    <p>
        Вы паспяхова прайшлі верыфікацыю і надалі нам правы прачытаць вашыя асабістыя дадзеныя: імя па-беларуску
        (бяз прозвішча і па-бацьку) і ваш унікальны картка-нумар для нашага стэнда. Таму мы змаглі залагаваць вас на
        наш дэманстрацыйны стэнд "Мая Картка".
    </p>
    <p>
        Картка Беларуса - прадукт дбайнай працы з мэтай стварыць падмурак для больш развітой беларускай супольнасці.
        Картка створана каб натхніць усіх нас разам будаваць Беларусь наўпрост тут і цяпер.


    </p>
    <div class="actions">
        <a class="btn btn-ghost" href="/login" role="button">Спрабаваць яшчэ раз</a>
    </div>
</section>

<section id="more" class="card info" aria-labelledby="info-title">
    <h2 id="info-title" class="subtitle">Што далей?</h2>
    <ul>
        <li>
            Як вашыя першыя ўражанні? Ці ўсё было зразумела? Падзяліцеся вашымі думкамі.
        </li>
        <li> Картка гэта пра магчымасць верыфікаваць беларусаў, у тым ліку ананімна.
            Падзяліцесь з сябрамі гэтым сэрвісам.
        </li>
        <li>
            Выбары, петыцыі, галасаванні... Ведаеце чым Картка яшчэ можа быць карысна і вам і грамадству?
            Абмяркуйце з сябрамі будуйце Беларусь разам з намі.
        </li>
        <li>
            У вас ёсць бізнес, НДА, група, або клюб аматараў каму б Картка была карысна тут і цяпер?
            Пішыце нам па супрацоўніцтва.
        </li>
        <li>
            Вам спадабалася Картка і вы хочаце дапамагчы, але ня ведаеце як? Пішыце нам ў бот,
            нават словы падтрымкі могуць быць важнымі.
        </li>
        <li>
            Для зваротнай сувязі вы можаце скарыстацца Тэлеграм-ботам
            <a target="_blank" href="https://t.me/kartka_feedback_bot">@kartka_feedback_bot</a>.
        </li>
    </ul>
</section>
