<section class="card intro" aria-labelledby="intro-title">
    <h1 id="intro-title" class="title">Мая Картка</h1>
    <p>Вітаем вас на нашым дэманстрацыйным стэндзе!</p>
    <div class="note" role="note">
        <strong class="highlight">Увага:</strong> мы не рэкамендуем карыстацца Карткай людзям з Беларусі,
        Расіі і акупаваных Расіяй частак Украіны, Грузіі і Малдовы.
    </div>
    <p>
        Тут вы можаце азнаёміцца як працуе Картка Беларуса, сістэма верыфікацыі для грамадзян Беларусі.
        Картка гэта лічбавы токен з зашыфраванымі звесткамі для пацвярджэння асобы.
    </p>
    <p>
        Картка выдаецца грамадзянам Беларусі што прайшлі біяметрычную праверку асобы і месціць
        наступныя палі: поўнае імя (на 3х мовах), дата нараджэння, пол, ідэнтыфікацыйны нумар,
        звесткі пра апошні сіні пашпарт, ваш унікальны картка-нумар і пэўную тэхнічную інфармацыю.
    </p>
    <p>
        Токен абаронены вашым паролем і зашыфраваны каб трымаць дадзеныя пра вас у бяспецы, але ня варта
        ставіцца да захавання токена легкадумна. Ня існуе абароны аб уласнай бестурботнасці.
    </p>
    <p>
        Кнопка "Пачаць знаёмства" пераправіць вас на сайт Карткі Беларуса, дзе вы зможаце прайсці верыфікацыю
        і дазволіць (або адмовіць) нашаму тэставаму стэнду атрымаць частку вашых персанальных звестак.
    </p>
    <div class="actions">
        <a class="btn btn-primary" href="/login"
           role="button">Пачаць знаёмства</a>
        <a class="btn btn-ghost" href="#more">Даведацца больш</a>
    </div>
</section>

<section id="more" class="card info" aria-labelledby="info-title">
    <h2 id="info-title" class="subtitle">Што гэта?</h2>
    <ul>
        <li> Дэманстрацыйны стэнд Мая Картка прызначаны для азнаямлення з агульнымі прынцыпамі працы Карткі Беларуса
            і адчуваннямі ад яе выкарыстання.
        </li>
        <li> Па ўсім пытанням і прапановам вы можаце звяртацца ў бот адваротная сувязі
            <a target="_blank" href="https://t.me/kartka_feedback_bot">@kartka_feedback_bot</a>.
        </li>
        <li> Вашая "картка" гэта лічбавы токен зашыфраванымі звесткамі пра вас, і падпісаны ад імя "Карткі
            Беларуса". Вы можаце карыстацца карткай каб пацвердзіць вашую асабістасць анлайн.
        </li>
        <li> Картка Беларуса гэта простая і бяспечная сістэма ідэнтыфікацыі ад беларусаў і для беларусаў. Толькі
            грамадзяне Рэспублікі Беларусь (станам на 2021г) могуць атрымаць картку.
        </li>
        <li> Падтрымка іншаземных грамадзян з афіцыйнымі дакументамі з Беларусі, і легальныя абнаўленні
            персанальных звестак грамадзян Беларусі пасля лета 2021 года можа быць дададзена пазней.
        </li>
        <li> Картка Беларуса перадае толькі тыя дадзеныя на якія атрымала згоду ад беларуса, толькі адпаведнаму сэрвісу,
            толькі "аднойчы" і без магчымасці "сачыць" за беларусам у будучыні.
        </li>
        <li> Картка Беларуса гэта цагліна для будавання сталай беларускай супольнасці. І яна створана каб натхніць
            усіх нас разам будаваць Беларусь тут і цяпер.
        </li>
    </ul>
</section>
