<%- include('partials/header') %>

<main class="container">
    <% if(loggedIn) {%>
        <%- include('partials/success-page.ejs', { name }) %>
    <% } else { %>
        <%- include('partials/welcome-page.ejs') %>
    <% } %>
</main>

<%- include('partials/footer') %>
